.transaction-row {
  display: grid;
  font-size: 14px;
  grid-template-columns: 280px 160px 160px;
  margin-top: 30px;
}

.des-and-time {
  display: grid;
  grid-template-rows: auto auto;

  h4 {
    margin: 0 0 10px 0;
  }

  .grey-text {
    color: grey;
    font-size: 14px;
  }
}

@mixin centered-grid {
  display: grid;
  align-items: center;
}

.category {
  @include centered-grid;

  .label {
    border-radius: 10px;
    font-size: 12px;
    padding: 5px 10px;
    width: fit-content;
  }

  .bills {
    background-color: hsl(351, 100%, 97%);
    color: hsl(351, 100%, 40%);
  }

  .groceries {
    background-color: hsl(156, 100%, 95%);
    color: hsl(156, 100%, 18%);
  }
}

.amounts {
  @include centered-grid;
  grid-template-rows: auto auto;

  .styled-amount {
    .pounds {
      font-size: 16px;
    }

    .pence {
      font-size: 12px;
    }
  }

  .total-amount {
    color: gray;
    font-size: 12px;
  }
}
